.comment_content{text-align:left;background:#F7F7F7;padding:5px;}
.comment_circle{text-align:left;margin:10px;}
.comment_circle span{margin-left:5px;}
.cmt_content{text-align: left;}
.mod56_page_pn a{margin:0px 2px;}
.comment_rows{border: 1px solid #999;margin-top: 5px;}
.comment_rows_build{padding:2px;border: 1px solid #999;margin-top: 10px;}
.comment_rows_build .fls-5{padding:0px;border-right: 0px;border-left: 0px;border-bottom: 0px;}
.float-right{float: right;padding:2px 0px;display:none;}
.float-right .acticle-close{cursor:pointer;}