<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>地图应用 - acol</title>
    <meta name="Keywords" content="小气球，维尼的小气球，acol的小气球，简单交互是我的追求" />
    <meta name="Description" content="小气球，维尼的小气球，acol的小气球，简单交互是我的追求" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="../view/favicon.ico" type="image/x-icon" />
    <!--<link rel="stylesheet" href="http://xiaoqiqiu.com/plugin/bootstrap-3.1.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="http://static.xiaoqiqiu.com/css/bootstrap/main.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nSTHNnB8KE0B66dFOOkM1FbY"></script>
    
    <style type="text/css">  
      html{height:100%}    
      body{height:100%;margin:0px;padding:0px}    
      #map{height:500px;width:1000px;}    
    </style>  
    
  </head>
  <body>
    <div class="row">
      <div class="col-md-12">

        <div id="top_menu" class="navbar navbar-inverse" role="navigation">
              <div class="navbar-header">
                <a class="navbar-brand" href="<?=WEB_ROOT . $global['user']?>">Home</a>
              </div>
              <div class="navbar-collapse collapse">

                {php include('view/index/menu.tpl.html');}

                <ul id="profile_ul" class="nav navbar-nav navbar-right">
                {if(!isset($_SESSION['username']))}
                    <li class="active"><a href="<?=WEB_ROOT . $global['user']?>">登录</a></li>
                    <li><a href="<?=WEB_ROOT . $global['user']?>">注册</a></li>
                 {/else}
              <li class="active"><a href="<?=WEB_ROOT . $_SESSION['username']?>">当前登录：{echo $_SESSION['username'];}</a></li>
                 {/if}
                </ul>
              </div><!--/.nav-collapse -->
          </div>

      </div>
    </div>

    <div class="content">
      <div class="col-md-7">
          <div id="map"></div>  
      </div>

    </div>

  </body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="http://xiaoqiqiu.com/plugin/bootstrap-3.1.1/js/bootstrap.js"></script>-->
  <script src="http://cdn.bootcss.com/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>
<script type="text/javascript">  
    var map = new BMap.Map('map');  
    //map.centerAndZoom(new BMap.Point(121.491, 31.233), 11);
    map.centerAndZoom("广州",11); 
    map.addControl(new BMap.NavigationControl());    
    map.addControl(new BMap.ScaleControl());    
    map.addControl(new BMap.OverviewMapControl());    
    map.addControl(new BMap.MapTypeControl());    

    var transit = new BMap.TransitRoute(map, {    
     renderOptions: {map: map, panel: "results"}    
    });    
    transit.search("杨桃公园", "体育西路");

    // var local = new BMap.LocalSearch(map, {
    //   renderOptions:{map: map}
    // });
    // local.search("景点");
    

</script>  