@charset "utf-8";
/* CSS Document */
@media screen and (min-width: 0px) and (max-width: 479px)  { 
body{font: normal 80% Helvetica, Arial, sans-serif; margin:0;	min-width:20em;}
}
@media screen and (min-width: 480px) and (max-width: 767px)  { 
body{font: normal 93.25% Helvetica, Arial, sans-serif; margin:0;	min-width:20em;}
}
@media screen and (min-width: 768px) {
body{font: normal 125% Helvetica, Arial, sans-serif; margin:0;	min-width:20em;}
}
.ui-loader h1{ display:none;}
body{ background:url(../images/public/bg_opti.png) repeat;}
header{ height:65px; border-bottom:1px solid #000000; background-color:#1A1A1A; box-shadow:0px 0px 7px 0px #1A1A1A; margin-bottom:1.5em;}
header .headerdiv{ padding:13px 6px 10px 12px;}
header .headerdiv .logo img{ width:96px; max-width:96px; float:left;}
header .headerdiv .header-icon{ float:right;}
header .headerdiv .header-icon .ico{ background-color:#5A5A5A; border-radius:50%; width:34px; height:34px; text-align:center;}
header .headerdiv .header-icon .ico img{ width:18px; margin-top:7px;}
.ico { display:inline-block; zoom:1; *display:inline; margin-right:5px; vertical-align:middle; height:100%;}
.ico1{ background:url(../images/public/e_menuicon2.png) no-repeat no-repeat -0.7em center; height:2.9em; width:2.2em; background-size:56.4em; margin:0 auto;}
.ico2{ background:url(../images/public/e_menuicon2.png) no-repeat -5.8em center; height:2.9em; width:2.3em; background-size:56.4em; margin:0 auto;}
.ico3{ background:url(../images/public/e_menuicon2.png) no-repeat -10.9em center; height:2.9em; width:2.2em; background-size:56.4em; margin:0 auto;}
.ico4{ background:url(../images/public/e_menuicon2.png) no-repeat -16.4em center; height:2.9em; width:1.5em; background-size:56.4em; margin:0 auto;}
.ico5{ background:url(../images/public/e_menuicon2.png) no-repeat -21.8em center; height:2.9em; width:2.2em; background-size:56.4em; margin:0 auto;}
.ico6{ background:url(../images/public/e_menuicon2.png) no-repeat -27.7em center; height:2.9em; width:2.1em; background-size:56.4em; margin:0 auto;}
.ico7{ background:url(../images/public/e_menuicon2.png) no-repeat -33.0em center; height:2.9em; width:2.1em; background-size:56.4em; margin:0 auto;}
.ico8{ background:url(../images/public/e_menuicon2.png) no-repeat -38.6em center; height:2.9em; width:2.1em; background-size:56.4em; margin:0 auto;}
.ico9{ background:url(../images/public/e_icon2.png) no-repeat 0px center; height:41px; width:43px;}
.ico10{ background:url(../images/public/e_icon2.png) no-repeat -302px center; height:41px; width:43px;}
.ico11{ background:url(../images/public/e_icon2.png) no-repeat -121px center; height:41px; width:43px;}
.ico12{ background:url(../images/public/e_icon2.png) no-repeat -181px center; height:41px; width:43px;}
.ico13{ background:url(../images/public/e_icon2.png) no-repeat -242px center; height:41px; width:43px;}
.ico14{ background:url(../images/public/e_icon2.png) no-repeat -358px center; height:41px; width:43px;}
.ico15{ background:url(../images/public/qmenu.png) no-repeat 0em 0em; height:1.3em; width:1.5em; background-size:1.5em;}
.ico16{ background:url(../images/public/qmenu.png) no-repeat 0em -1.9em; height:1.3em; width:1.5em; background-size:1.5em;}
.ico17{ background:url(../images/public/qmenu.png) no-repeat 0em -3.9em; height:1.3em; width:1.5em; background-size:1.5em;}
.ico18{ background:url(../images/public/qmenu.png) no-repeat 0em -5.6em; height:1.3em; width:1.5em; background-size:1.5em;}

.bodydiv{ padding:0 5px;}
.main .mainr1{ background-color:#F2F2F2;}
.main .mainr1 #demoContent{ padding:5px;}
.main .mainr1 .slideBox{ width:100%; overflow:hidden; position:relative; margin:0 auto;} 
.main .mainr1 .slideBox .hd{ margin:7px 0px 0px 0px; overflow:hidden;} 
.main .mainr1 .slideBox .hd ul{ overflow:hidden; zoom:1; width:130px; margin:0 auto;} 
.main .mainr1 .slideBox .hd ul li{ float:left; margin:5px 10px; text-align:center; background:url(../images/public/pagination.png) no-repeat bottom center; height:8px; width:8px;  cursor:pointer;} 
.main .mainr1 .slideBox .hd ul li.on{ background:url(../images/public/pagination.png) top center; height:8px; width:8px; color:#fff; } 
.main .mainr1 .slideBox .bd{ position:relative; height:150px; z-index:0; overflow:hidden; } 
.main .mainr1 .slideBox .bd img{ height:150px; width:100%;}
.main .mainr1 .effect .btnleft{ background:url(../images/public/next1.png) no-repeat center center; height:16px; width:35px; float:left; margin-left:15px;}
.main .mainr1 .effect .btnright{ background:url(../images/public/next.png) no-repeat center center; height:16px; width:35px; float:right; margin-right:15px;}
.mainr1,.mainr2, .mainr3, .mainr4{ border-radius:5px; margin-bottom:1.2em}
.mainr2{ background:#FFFFFF;}
.mainr2 ul.l2{ padding:0px 0px 10px 10px;}
.mainr2 ul.l2 li{ text-align:center; float:left; margin:0.7em 0.7em 0 0; height:5em; width:5em; border:1px solid #DBDBDB; border-radius:0.4em; 
					-moz-box-shadow:4px 4px 4px #F2F2F2; 
					-webkit-box-shadow:4px 4px 4px #F2F2F2;
					box-shadow:4px 4px 4px #F2F2F2; 
					background:-moz-linear-gradient(top, #fff,#F1F1F1);
					background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#F1F1F1));
					filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff,endColorstr=#F1F1F1,grandientType=1);}
.mainr2 ul.l2 li span{ display:block;}
.mainr2 ul.l2 li a{ display:block; margin:0.5em 0em;}
.mainr2 ul.l2 li a .text{color:#004276; font-size:1.0em;}
.mainr2 ul.l2 li:hover a .text{ color:#000000;}
.mainr2 ul.l2 li:hover{ color:#000000;}

.mainr3{ background-color:#FFFFFF;}
.main .mainr3 #demoContent{ padding:5px;}
.main .mainr3 .slideBox{ width:100%; overflow:hidden; position:relative; margin:0 auto;} 
.main .mainr3 .slideBox .hd{ margin:5px 0px 0px 0px; overflow:hidden;} 
.main .mainr3 .slideBox .hd ul{ overflow:hidden; zoom:1; width:130px; margin:0 auto;} 
.main .mainr3 .slideBox .hd ul li{ float:left; margin:0px 10px; text-align:center; background:url(../images/public/pagination.png) no-repeat bottom center; height:8px; width:8px;  cursor:pointer;} 
.main .mainr3 .slideBox .hd ul li.on{ background:url(../images/public/pagination.png) top center; height:8px; width:8px; color:#fff; } 
.main .mainr3 .slideBox .bd{ position:relative; height:65px; z-index:0; overflow:hidden; } 
.main .mainr3 .slideBox .bd img{ height:65px; width:24.5%; margin:0 1px;}
.main .mainr3 .effect .btnleft{ background:url(../images/public/next1.png) no-repeat center center; height:16px; width:35px; float:left; margin-left:15px;}
.main .mainr3 .effect .btnright{ background:url(../images/public/next.png) no-repeat center center; height:16px; width:35px; float:right; margin-right:15px;}

.mainr4{ background-color:#EDEDED;}
.mainr4 ul.l3 li{border-bottom:1px solid #E1E1E1; padding:6px 10px; height:40px;}
.mainr4 ul.l3 li .ico{ float:left;}
.mainr4 ul.l3 li .mainr4text{ color:#7C7C7C; font-size:12px;  line-height:20px;}
.mainr4 ul.l3 li .mainr4text .overflowtext{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.mainr4 ul.l3 li .mainr4text strong{ font-size:16px; color:#666666; display:block;}

footer .footerr1{ border-radius:3px; margin-bottom:1.2em;
		-moz-box-shadow:2px 2px 5px #3E4147; 
		-webkit-box-shadow:2px 2px 5px #3E4147;
		box-shadow:0px 2px 5px 1px #3E4147; 
		background:-moz-linear-gradient(top, #EFEFEF,#D4D4D4);
		background:-webkit-gradient(linear, 0 0, 0 100%, from(#EFEFEF), to(#D4D4D4));
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF,endColorstr=#D4D4D4,grandientType=1);}
.footerr1 li{ float:left; width:25%; text-align:center;}
.footerr1 li a{ padding:0.5em 0; line-height:1.5em; border-right:1px solid #D2D2D2; display:block; vertical-align:middle;}
.footerr1 li a .ico{ margin:0 auto;}
.footerr1 li span{ display:block; color:#636B6B;}
.footerr1 li .text{ font-size:1.0em;}
.footerr2{ text-align:center; color:#000000;}
.footerr2 img{margin:10px 0px;}
@media screen and (min-width: 240px) and (max-width: 479px) {
.main .mainr1 .slideBox .bd{ position:relative; height:150px; z-index:0; overflow:hidden; } 
.main .mainr1 .slideBox .bd img{ height:150px; width:100%;}
}
@media screen and (min-width: 480px) and (max-width: 767px) {
.main .mainr1 .slideBox .bd{ position:relative; height:250px; width:100%; z-index:0; overflow:hidden; } 
.main .mainr1 .slideBox .bd img{ height:250px; width:100%;}
.main .mainr3 .slideBox .bd{ position:relative; height:100px; z-index:0; overflow:hidden; } 
.main .mainr3 .slideBox .bd img{ height:100px;  width:24.5%; margin:0 1px;}
.main .mainr3 .slideBox .hd ul li{ float:left; margin:5px 10px; text-align:center; background:url(../images/public/pagination.png) no-repeat bottom center; height:8px; width:8px;  cursor:pointer;} 
}
@media screen and (min-width: 768px){
.main .mainr1{ background-color:#F2F2F2; width:600px; margin:0 auto;  margin-bottom:1.2em}
.main .mainr1 #demoContent{ padding:5px;}
.main .mainr1 .slideBox{ width:100%; overflow:hidden; position:relative; margin:0 auto;} 
.main .mainr1 .slideBox .bd{ position:relative; height:300px; z-index:0; overflow:hidden; } 
.main .mainr1 .slideBox .bd img{ height:300px; width:auto;}
.main .mainr3 .slideBox .bd{ position:relative; height:150px; z-index:0; overflow:hidden; } 
.main .mainr3 .slideBox .bd img{ height:150px;  width:24.5%; margin:0 1px;}
.main .mainr3 .slideBox .hd ul li{ float:left; margin:5px 10px; text-align:center; background:url(../images/public/pagination.png) no-repeat bottom center; height:8px; width:8px;  cursor:pointer;} 
}

