/*全局*/
* {	margin: 0px;padding: 0px;}
img { border: none;}
input { padding:0 3px; vertical-align:middle;}
select { vertical-align:middle;}
ul,ol,dl,dt,dd,li{ list-style: none; }
fieldset { border: none; }
legend { display: none; }
h1,h2 { font-size:14px;}
.floatl { float:left; display:block;}
.floatr { float:right; display:block;}
.afloatr { height:100%;}
.inline { display:inline!important;}
.block { display:block!important;}
.overflow { overflow:hidden;}
.content { overflow:hidden;}
.row { overflow:hidden;}
.clear { clear:both;}
/* == clearfix == */
.clearfix:after { /*/*/content: "."; /* IE8 hack */ display: block; height: 0; clear: both; visibility: hidden; }
/* IE7 hack */
.clearfix { display: inline-block; }
/* IE-mac, IE5, IE6 */
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.myclearfix:after { clear:both; visibility:hidden;}
.myclearfix { display: block; -display:inline-block; overflow:hidden;}
.minheight400 { min-height:400px; -height:400px; -overflow:visible;}
.hidden { display:none;}

.box { overflow:hidden;}
.box .top { overflow:hidden; color:#000;}
.box .top .left, .box .bottom .left { float:none; padding-left:10px; height:100%;}
.box .top .right, .box .bottom .right {height:100%; padding-right:10px; float:none;}
.box .top .mid, .box .bottom .mid {float:none; height:100%;}
.box .top .mid img, .box .bottom .mid img { vertical-align:middle;}
.box .top h2, .box .bottom h2 { font-size:14px; font-weight:bold; float:left; height:100%;}
.box .top em.m, .box .bottom em.m { float:left; font-style:normal; font-weight:normal; padding:0; height:100%;}
.box .top em.r, .box .bottom em.r { float:right; font-style:normal; font-weight:normal; height:100%;}
.box .top em a { height:100%;}
.box .bottom { height:5px; line-height:5px; overflow:hidden;}
.box .boxcontent { overflow:hidden; padding:0px;}
.box .boxcontent li { line-height:24px; overflow:hidden;}
.box .style1 .top, .box .style1 .bottom { height:7px; line-height:7px; font-size:0; overflow:hidden;}
.box .style1 .top h2 { color:#FBE148; font-weight:bold; font-size:18px; padding-left:5px; display:none;}
.box .style1 .top .left { background:url(../images/box/box1_cor.gif) no-repeat left top; padding-left:7px;}
.box .style1 .top .mid { background:url(../images/box/box1_tb.gif) repeat-x left top;}
.box .style1 .top .right { background:url(../images/box/box1_cor.gif) no-repeat right top; padding-right:7px;}
.box .style1 .bottom .left { background:url(../images/box/box1_cor.gif) no-repeat left bottom; padding-left:7px;}
.box .style1 .bottom .mid { background:url(../images/box/box1_tb.gif) repeat-x left bottom;}
.box .style1 .bottom .right { background:url(../images/box/box1_cor.gif) no-repeat right bottom; padding-right:7px;}
.box .style1 .contentborder_l { background:url(../images/box/box1_lr.gif) repeat-y left top; padding-left:7px;}
.box .style1 .contentborder_r { background:url(../images/box/box1_lr.gif) repeat-y right top; padding-right:7px;}
.box .style1 .boxcontent { background:#fff; line-height:30px; padding:0 5px;}

.cardbox .cardboxtop { position:relative;}
.cardbox .cardboxtop .card { display:inline-block; zoom:1; *display:inline; position:relative; vertical-align:top; cursor:pointer; text-align:center;}
.cardbox .cardboxtop .card span { display:block; height:100%;}
.cardbox .cardboxcontent ul { display:none;}
.cardbox .cardboxcontent ul.l1 { display:block;}

.ArticleStyle { font-size:14px; line-height:30px;}
.ArticleStyle p { margin-bottom:20px;}
.ArticleStyle img { max-width:650px; -width:expression(this.clientWidth>650?'650px':'px'); border:solid 1px #d7d7d7;}
.ArticleStyle table { margin-bottom:20px; border:0; text-align:center;}
.ArticleStyle table th, .ArticleStyle table td { border:0; padding:0 3px;}
.ArticleStyle table.border { border-collapse:collapse; border:solid #D4D4D4 1px;}
.ArticleStyle table.border td,.ArticleStyle table.border th { border:solid 1px #D4D4D4;}
.ArticleStyle table p { margin:0; text-indent:0;}
.ArticleStyle table th { background:url(../images/bg/bg2.gif) repeat-x #F6F6F6; height:40px; line-height:40px;}

ul.decimal li { list-style:decimal outside; margin-left:25px;}
form.formstyle { line-height:25px;}
form.formstyle p { display: block;}
form.formstyle p.validcode { height:auto; clear:both;}
form.formstyle p.button { margin-top:10px; height:auto; clear:both;}
form.formstyle .nopadding { padding-left:0;}
form.formstyle label { display:block; float:left; text-align:right;}
form.formstyle .element {height:100%; overflow:hidden; -height:auto; -float:left; display:block;}
form.formstyle .idlist { display:block; float:left;}
form.formstyle .input { display:block; float:left; padding-right:10px;}
form.formstyle .input .inputtext { width:150px; padding:3px;}
form.formstyle .text { float:left; display:block; color:#ff0000;}
form.formstyle .ico { float:left; margin:0 5px;}
form.formstyle .important { color:#FF7800; margin:0 5px;}
form.formstyle .validcode a, form.formstyle a:visited { color:#01A3F4;}
form.formstyle .validcode .changeCaptcha img { vertical-align:middle; -vertical-align:text-bottom;}
form.formstyle p { margin-top:10px; text-indent:0px;}
form.formstyle p:after { clear:both; visibility:hidden;}
form.formstyle p { display: block; -display:inline-block; overflow:hidden;}

/*pagination*/
.pagination {
	padding: 20px 0 5px 0;
	margin: 0px;
	text-align:center;
	overflow:hidden;
	line-height:18px!important;
}

.pagination a {
	padding: 2px 5px 0px 5px;
	margin: 2px;
	border: 1px solid #e4e4e4;
	text-decoration: none; /* no underline */
	color: #666!important;
	zoom:1;
}
.pagination .ico { margin:0!important;}
.pagination a:hover,
.pagination a:active {
	border: 1px solid #e4e4e4;
	color: #fff!important;
	background-color: #ccc;
}
.pagination .current {
	padding: 2px 5px 0px 5px;
	margin: 2px;
	border: 1px solid #ccc;
	font-weight: bold;
	background-color: #ccc;
	color: #FFF!important;
	zoom:1;
}
.pagination .disabled {
	padding: 2px 5px 0px 5px;
	margin: 2px;
	border: 1px solid #e4e4e4;
	color: #666;
	zoom:1;
}
.pagination .pageinfo {
	margin:10px 0;
	text-align:left;
}
.pagination .pageinfo a, .pagination .pageinfo a:visited, .pagination .pageinfo a:hover {
	color:#999!important;
	border:0;
	background:none;
}


.font10 { font-size:10px!important;}
.font12 { font-size:12px!important;}
.font14 { font-size:14px!important;}
.split_dashed {float:left; display:inline;}
.line_dashed { border-top:dashed 1px #e4e4e4; clear:both; margin:5px 0; height:0px; line-height:0px; font-size:0px;}
.line_solid { border-top:solid 1px #e4e4e4; clear:both; margin:5px 0; height:0px; line-height:0px; font-size:0px;}
.underline, .underline a, .underline a:visited, a.underline { text-decoration:underline!important;}
.bold, .bold a, .bold a:visited, a.bold { font-weight:bold!important;}
.nobold, .nobold a, .nobold a:visited, a.nobold { font-weight:normal!important;}
.orange, .orange a, .orange a:visited, a.orange { color:#FF7800!important;}
.orange_light, .orange_light a, .orange_light a:visited, a.orange_light { color:#FF9900!important;}
.black, .black a, .black a:visited, a.black { color:#000!important;}
.red, .red a, .red a:visited, a.red, a.red:visited { color:#FF0000!important;}
.yellow, .yellow a, .yellow a:visited, a.yellow { color:#FFFF00!important;}
.green, .green a, .green a:visited, a.green { color:#00FF00!important;}
.gray, .gray a, .gray a:visited, a.gray { color:#999!important;}
.blue, .blue a, .blue a:visited, a.blue { color:#17408B!important;}
.light, .light a, .light a:visited, a.light { color:#FF7800!important;}
.changeCaptcha img { border:solid 1px #D0D8E4; margin-right:10px;}

.ico { display:inline-block; zoom:1; *display:inline; margin-right:5px; vertical-align:middle; height:100%;}
.ico:hover { text-decoration:none;}
/*.ico1 { background:url(../images/ico.gif) no-repeat 0px center; width:17px;}*/

.btnimg { background:none; border:0; min-width:1px; overflow:visible; display:inline-block; *display:inline; zoom:1; white-space:nowrap; vertical-align:middle;}
.btn { background:none; border:0; min-width:1px; overflow:visible; display:inline-block; *display:inline; zoom:1; white-space:nowrap; vertical-align:middle; overflow:hidden; text-decoration:none!important;}
.btn span { border:0; display:inline-block; *display:inline; zoom:1; cursor:pointer;}
.btn button { background:none; border:none; height:100%; line-height:100%; vertical-align:middle; min-width:1px; overflow:visible;  cursor:pointer;}
.btn:hover { text-decoration:none; cursor:pointer;}
.btn1 { color:#9F0304!important; text-align:center; height:17px; line-height:17px;}
.btn1 span { vertical-align:top; height:100%;}
.btn1 .btnl { background:url(../images/btn.gif) left top no-repeat; width:7px;}
.btn1 .btnm { background:url(../images/btn.gif) center top no-repeat;}
.btn1 .btnr { background:url(../images/btn.gif) right top no-repeat; width:7px;}
.btn1:hover .btnl { background:url(../images/btn.gif) left -17px no-repeat;}
.btn1:hover .btnm { background:url(../images/btn.gif) center -17px no-repeat;}
.btn1:hover .btnr { background:url(../images/btn.gif) right -17px no-repeat;}

input.text1,textarea.text1 { border:solid 1px #DB2E1E; padding:2px 4px; color:#666;}
input.text1_set,textarea.text1_set { background:#FFFCE1; border:solid 1px #98D926; padding:2px 4px;}
input.text1_light,textarea.text1_light { background:#FFFCE1; border:solid 3px #98D926; padding:2px 4px;}
input.text2{ background:#fff; border:solid 1px #ccc; padding:2px; color:#999;}
input.text2_set { background:#FFFCE1; border:solid 1px #ccc; padding:2px;}
textarea.text2 { background:#f9f9f9; border:solid 1px #ccc; line-height:23px; color:#999; font-size:12px; height:100px;}

.photobox_m { text-align:center;}
.photobox_m span {  vertical-align: middle; display:table-cell;}
.photobox_m span em { writing-mode: tb-rl; vertical-align: middle; height:100%; line-height:0;}

.photobox_b { position:relative;}
.photobox_b span { display:block; width:100%; position:absolute; bottom:0; left:0;}
.photobox_b span em { display:inline-block; *display:inline; zoom:1;}

/*初始*/
html {}
body { font: 12px Arial, 'lucida grande',tahoma,helvetica,arial,'bitstream vera sans',sans-serif; line-height:18px; color:#666; background:#fff;}
a, a:link { color:#666; text-decoration:none; cursor:pointer;}
a:visited { color:#666; text-decoration:none;}
a:hover { color:#9F0304; text-decoration:none;}
.bodybg {}
.bodydiv { margin:0 auto; position:relative;}
.header {}
.footer {}
.main { height:100%; overflow:hidden;}
.f { position:absolute; display:block;}
.f1 { left:0; top:0; width:159px; height:47px; background:url(../images/menu.jpg) no-repeat 0px 0px;}

.myposition { padding:0 10px;}

/*留言板样式*/
.guestbook textarea { width:90%; height:100px; overflow:auto; border:solid 1px #ccc; }
.guestbook li { border:dashed 1px #ccc; background:#eee; padding-top:10px; margin-top:10px; padding:0 10px;}
.guestbook li .topic { display:block;}
.guestbook li .topic .info { color:#999;}
.guestbook li .topic .text { display:block;}
.guestbook li .topic .text .runreply { color:#9F0304;}
.guestbook li .replyinput { margin-bottom:5px; display:none;}
.guestbook li .replyinput textarea { margin-bottom:5px;} 
.guestbook li .reply { display:block; border-top:dashed 1px #ccc; margin-bottom:5px; padding:0 10px;}
.guestbook li .reply .info { display:block;}
.guestbook li .reply .text { display:block;}
.guestbook li .master { color:#9F0304;}

/*评分样式*/
.rankindex span {}
.rankindex .rankstar { background:url(../images/rank.gif) no-repeat -2px -3px; width:82px; height:13px; line-height:13px; display:inline-block; *display:inline; zoom:1; vertical-align:middle;}
.rankindex .rankstar .rankbar { background:url(../images/rank.gif) no-repeat -2px -23px; height:100%; display:inline-block; *display:inline; zoom:1; vertical-align:top;}
.rankindex .rankvalue { color:#ff0000; font-weight:bold; font-size:14px; display:inline-block; *display:inline; zoom:1; margin-left:5px; vertical-align:middle;}

/*选项卡独立样式*/
.cardbox .cardboxstyle1 .cardboxtop { height:30px; line-height:30px;}
.cardbox .cardboxstyle1 .cardboxtop .card { background:#FFF; border:solid 1px #ccc; border-bottom:0; height:100%; top:0px; margin:0 2px;}
.cardbox .cardboxstyle1 .cardboxtop .card .set { background:#ffff00;}
.cardbox .cardboxstyle1 .cardboxcontent { padding:5px;}