<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta property="wb:webmaster" content="c2efef57b2b53a48" />
		<title><?=$data['user']?>的文章</title>
		<meta name="Keywords" content="小气球，维尼的小气球，acol的小气球，简单交互是我的追求" />
		<meta name="Description" content="小气球，维尼的小气球，acol的小气球，简单交互是我的追求" />
		<link rel="shortcut icon" href="../view/favicon.ico" type="image/x-icon" />
		<link href="css/global.css" type="text/css" rel="stylesheet"/>
		<link href="css/reset.css" type="text/css" rel="stylesheet"/>
		<link href="css/main.css" type="text/css" rel="stylesheet"/>
		<link href="css/module_v.1.css" type="text/css" rel="stylesheet"/>
		<link href="<?=WEB_ROOT?>plugin/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="<?=WEB_ROOT?>plugin/SyntaxHighlighter/Styles/shCore.css"/>
		<link type="text/css" rel="stylesheet" href="<?=WEB_ROOT?>plugin/SyntaxHighlighter/Styles/shThemeDefault.css"/>

		<script type="text/javascript">
			//	初始化
			var WEB_ROOT = '<?=WEB_ROOT?>',
				STATIC_ROOT = '{echo STATIC_ROOT;}',
				IS_MINE = '<?=$global['is_mine']?>';
				USER = '<?=$global['user']?>';
		</script>
	</head>
	<body>
		<div id="loading_bar" class="progress active progress-striped progress-success hide">
			<div class="progress-bar" style="width: 10%;">加载中</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<div id="top_menu" class="navbar navbar-inverse" role="navigation">
			        <div class="navbar-header">
			          <a class="navbar-brand" href="<?=WEB_ROOT . $global['user']?>">Home</a>
			        </div>
			        <div class="navbar-collapse collapse">

			          {php include('view/index/menu.tpl.html');}

			          <ul id="profile_ul" class="nav navbar-nav navbar-right">
			          {if(!isset($_SESSION['username']))}
			            	<li class="active"><a href="<?=WEB_ROOT . $global['user']?>">登录</a></li>
			            	<li><a href="<?=WEB_ROOT . $global['user']?>">注册</a></li>
			           {/else}
							<li class="active"><a href="<?=WEB_ROOT . $global['user']?>">当前登录：{echo $_SESSION['username'];}</a></li>
			           {/if}
			          </ul>
			        </div>
			    </div>

			</div>
		</div>

		<div id="container" class="container radius" style="background:rgb(247, 247, 247)">
			{echo $data['article'];}
			<div class="author"> {echo $data['username'];} 于 {echo $data['time'];} 发表</div>
		</div>
		

		<div class="mod56_page page_theme_0" style="text-align: center;width: 100%;position:fixed;_position:absolute;bottom:30px;">
			<div class="mod56_page_pn" id="acolScrollPage" style="display:none;">
			</div>
		</div>

		<div id="gotop" style="position: fixed; bottom: 50px; right: 50px; cursor: pointer;display:none; " title="回到顶部">
			<img src="img/gotop.gif" style="width:31px; height:31px;">
		</div>

		<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="http://xiaoqiqiu.com/plugin/jquery.pin/jquery.pin.min.js"></script>

		<script type="text/javascript" src="js/helper.js?v=1"></script>
		
		<?php
			include('baidu-analytics.html');
		?>
		<script type="text/javascript">
		$(document).ready(function(){
			//钉子
			$("#top_menu").pin({
		    	containerSelector: "body"
			});
		});
		</script>

		<!--百度分享-->
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"2","bdPos":"right","bdTop":"110"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

		<script type="text/javascript" src="<?=WEB_ROOT?>plugin/SyntaxHighlighter/Scripts/shCore.js"></script>
		<script type="text/javascript" src="<?=WEB_ROOT?>plugin/SyntaxHighlighter/Scripts/shBrushes.js"></script>
		<script type="text/javascript">
			//	初始化
			var WEB_ROOT = '{echo WEB_ROOT;}',
				STATIC_ROOT = '{echo STATIC_ROOT;}',
				IS_MINE = {echo $data["is_mine"];},
				NICK_NAME = '{echo $_SESSION['nickname'];}',
				USER = '{echo $data["user"];}';
			SyntaxHighlighter.config.clipboardSwf = WEB_ROOT +'plugin/SyntaxHighlighter/Scripts/clipboard.swf';
			SyntaxHighlighter.all();
		</script>
	</body>
</html>
