<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>维尼的小气球 - acol</title>
		<meta name="baidu-site-verification" content="UY0mGbX6Ub" />
		<meta name="baidu-site-verification" content="c341d66811bc0367cce65fc557d035d0"/>
		<meta name="Keywords" content="小气球，维尼的小气球，acol的小气球，简单交互是我的追求" />
		<meta name="Description" content="小气球，维尼的小气球，acol的小气球，简单交互是我的追求" />
		<link rel="shortcut icon" href="weini.ico" type="image/x-icon" />
		<link href="css/global.css" type="text/css" rel="stylesheet"/>
		<link href="css/reset.css" type="text/css" rel="stylesheet"/>
		<link href="css/main.css" type="text/css" rel="stylesheet"/>
		<link href="css/pop.css" type="text/css" rel="stylesheet"/>
		<link href="css/module_v.1.css" type="text/css" rel="stylesheet"/>
		<link href="<?=WEB_ROOT?>plugin/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
		<link type="text/css" rel="stylesheet" href="<?=WEB_ROOT?>plugin/SyntaxHighlighter/Styles/shCore.css"/>
		<link type="text/css" rel="stylesheet" href="<?=WEB_ROOT?>plugin/SyntaxHighlighter/Styles/shThemeDefault.css"/>

		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/helper.js"></script>
		<script type="text/javascript" src="<?=WEB_ROOT?>plugin/SyntaxHighlighter/Scripts/shCore.js"></script>
		<script type="text/javascript" src="<?=WEB_ROOT?>plugin/SyntaxHighlighter/Scripts/shBrushes.js"></script>
		<script type="text/javascript">
			//	初始化
			var WEB_ROOT = '{echo WEB_ROOT;}',
				STATIC_ROOT = '{echo STATIC_ROOT;}',
				IS_MINE = {echo $data["is_mine"];},
				USER = '{echo $data["user"];}';
			SyntaxHighlighter.config.clipboardSwf = WEB_ROOT +'plugin/SyntaxHighlighter/Scripts/clipboard.swf';
			SyntaxHighlighter.all();
		</script>
	</head>
	<body style="-webkit-transform: rotate(-5deg);">
	<div id="top_loading" class="top_loading floater radius"><img src="<?=STATIC_ROOT?>/top_loading.gif"/> 努力加载中... </div>
	<div class="top">
		{if(!isset($_SESSION['username']))}
		<span id="login_top">未登录，现在<a href="javascript:;" onclick="$_Index.ini();return false;">登录</a>？ 没有账号，<a href="javascript:;" onclick="$_Index.reg();return false;">注册</a>？</span>
		{/else}
		<span id="login_top">当前用户：<a href="http://xiaoqiqiu.com/{echo $_SESSION['username'];}">{echo $_SESSION['username'];}</a> ，<a href="javascript:;" onclick="$_Index.edit();return false;">修改资料</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="javascript:;" onclick="$_Index.logout();return false;">退出</a>？</span>
			{if( $data["is_mine"] == 1 )}
	    		<span><a href="<?=WEB_ROOT . 'api/index/changeVer.php?action=change_version&user='. $data["user"] .'&version='. ($data['userInfo']['version']==1 ? 0 : 1);?>">换版本</a></span>
	    	{/if}
		{/if}
	</div>

	<div class="container clear" id="container">
		{if($data["user"] == 'acol')}
		<p>< 业余时间纯手工打造的半成品，推荐使用chrome或者高版本IE浏览。 ></p>
		{/if}
		<div class="left">
			<div class="header" id="header">
				<a id="add_something" title="添加文章，图片，视频" class="add_something" href="javascript:;" onclick="return false;" {if($global['is_mine'] != 1)} style="display:none;" {/if}>
				</a>
				<span>{echo $data['userInfo']['desc'];}</span>
			</div>

			<!-- <a class="hide_content" id="hide_content" href="javascript:;"> x </a> -->
			<div id="content">
				{loop $db}
					<div class="circle radius" aid="{$id}">
						<div class="comment-float"><em><a href="javascript:;" alt="{$id}">{$cmt_num}</a></em></div>
						{if($data["is_mine"] == 1)}
						<a class="close" href="javascript:;" onfocus="this.blur();" onclick="$_Add.del_article({$id});return false;"> × </a>
						<a class="edit" href="javascript:;" onfocus="this.blur();" onclick="$_Add.edit_article({$id});return false;"> + </a>
						{/if}
						<div class="content">
							{$content}
						</div>
						<div class="comment_div">
							<span class="author"> {$username} 于 {$time} 发表</span>
							<span class="comment"><a href="javascript:;" alt="{$id}">我有想法({$cmt_num})</a></span>
						</div>
					</div>
					<div class="left_shadow">
						<div class="right_shadow"></div>
					</div>
				{/loop}
			</div>
		</div>

		<div class="right" id="right_menu">
			<div class="face radius">
				<img height="150px" width="150px" src="{echo $data['userInfo']['face'];}"/>
				<p><label id="now_user"></label></p>
			</div>
			
			<div class="menu radius">
				<em class="timesort_logo">&nbsp;&nbsp;&nbsp;&nbsp;</em>时间轴
				<div class="slide_item" style="display:block;">
					<ul id="sort_ul" class="sort_ul"></ul>
				</div>
			</div>
			

			<div class="menu_click radius" id="photoWall">
				<span><a href="/{echo $data["user"];}/wall">图片墙</a></span>
				<!-- <div class="">
					<a href="/{echo $data["user"];}/wall"><img src="img/wall.jpg"/></a>
				</div> -->
			</div>
			<div class="menu_click radius" id="videoWall">
				<span><a href="/video">精彩视频墙</a></span>
			</div>
			{if( !empty($data['userInfo']['weibo']) )}
			<div class="menu_click radius">
				<em class="weibo_logo">&nbsp;&nbsp;&nbsp;&nbsp;</em>新浪微博
				<div class="slide_item" style="display:none;">{echo $data['userInfo']['weibo'];}</div>
			</div>
			{/if}
			{if( !empty($data['userInfo']['tqq']) )}
			<div class="menu_click radius">
				<em class="tqq_logo">&nbsp;&nbsp;&nbsp;&nbsp;</em>企鹅微博
				<div class="slide_item" style="display:none;">{echo $data['userInfo']['tqq'];}</div>
			</div>
			{/if}
			<div class="menu_click radius">
				<em>友情链接</em>
				<div class="slide_item">
					<ul>
						<li><a href="http://www.56.com" target="_blank">56视频</a></li>
						<li><a href="http://somoban.net/" target="_blank">海滨的搜模板</a></li>
						<li><a href="http://www.68waibo.com/" target="_blank">海滨的歪脖</a></li>
						<li><a href="http://www.langag.net/" target="_blank">烂GAG</a></li>
						<li><a href="http://blogger.readplan.com/" target="_blank">小勇的blog</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<span class="btn radius" id="page_btn" title="next page" last_page="{echo $data['last_page'];}" onclick="$_Index.switch_div('content','next','right')" onfocus="this.blur();" style="-webkit-user-select:none;">
			<label id="now_page">{echo $data['page'];}</label>/<label id="total_page">{echo $data['last_page'];}</label>
		</span>
		<!-- <span class="back_btn" id="page_back" title="pre page" onclick="$_Index.switch_div('content','pre')"></span> -->
		<span class="back_btn2 radius" id="page_back" title="pre page" onclick="$_Index.switch_div('content','pre','left')"> 《 </span>
	</div>
	<div id="gotop" style="position: fixed; bottom: 50px; left: 1000px; cursor: pointer;display:none;" title="猛击我可以灰~">
		<img src="img/gotop.png" style="width:64px; height:64px;" />
	</div>

	<div class="bottom" id="bottom">
		
	</div>

	<div id="weatherContent"></div>
	
	<script type="text/javascript" src="js/index.js?v1"></script>
	<script type="text/javascript" src="js/space_ui_v2.js"></script>
	<script type="text/javascript" src="js/pop.js?v=1"></script>
	<script type="text/javascript" src="js/add.js"></script>
	<script type="text/javascript" src="<?=WEB_ROOT?>plugin/uploadify/jquery.uploadify-3.1.min.js"></script>
	<script type="text/javascript" src="js/curtain.js"></script>
	<script type="text/javascript" src="js/weather.js"></script>
	<script type="text/javascript" src="js/unlock.js"></script>
	<script type="text/javascript" src="js/marquee.js"></script>
	<script type="text/javascript" src="js/profile.js"></script>
	<!--<script defer type="text/javascript" charset="utf-8" src="http://julying.com/lab/weather/get/jquery.weather!parentid=acol_weather&zIndex=1&move=true&autoDrop=true&jquery=false&style=blue&area=client&city=101280101"></script>-->
	<?php
		include('baidu-analytics.html');
	?>
	</body>
</html>
