<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta property="wb:webmaster" content="c2efef57b2b53a48" />
		<title>维尼的视频墙 - acol</title>
		<link href="http://s1.56img.com/style/base/v4/css/base_v.1.css" type="text/css" rel="stylesheet"/>
		<link href="http://s1.56img.com/style/i/v3/css/global/global_v.2.css" type="text/css" rel="stylesheet"/>
		<link href="http://s1.56img.com/style/include/module/v1/combo/css/module_v.2.css" type="text/css" rel="stylesheet"/>
		<link href="http://s1.56img.com/style/space/v3/css/space_v.1.css" type="text/css" rel="stylesheet"/>
		<link href="http://s1.56img.com/style/include/module/v1/combo/css/module_v.1.css" type="text/css" rel="stylesheet"/>
		<link href="<?=WEB_ROOT?>plugin/uploadify/uploadify.css" rel="stylesheet" type="text/css" />

		<link href="css/reset.css" type="text/css" rel="stylesheet"/>
		<link href="css/main.css" type="text/css" rel="stylesheet"/>
		<link href="css/pop.css" type="text/css" rel="stylesheet"/>
		<link href="css/wall.css" type="text/css" rel="stylesheet"/>
		<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

		<script type="text/javascript">
			//	初始化
			var WEB_ROOT = '<?=WEB_ROOT?>',
				STATIC_ROOT = '{echo STATIC_ROOT;}',
				IS_MINE = '<?=$global['is_mine']?>';
				USER = '<?=$global['user']?>';
		</script>
	</head>
	<body>
		<div id="top_loading" class="top_loading floater radius"><img src="<?=STATIC_ROOT?>top_loading.gif"/> 加载中... </div>
		<!-- <div class="top">
			<span class="floater"><a href="<?=WEB_ROOT . $global['user']?>">返回空间</a></span>
		</div> -->

		<div class="row">
			<div class="col-md-12">

				<div id="top_menu" class="navbar navbar-inverse" role="navigation">
			        <div class="navbar-header">
			          <a class="navbar-brand" href="<?=WEB_ROOT . $global['user']?>">Home</a>
			        </div>
			        <div class="navbar-collapse collapse">

			          {php include('view/index/menu.tpl.html');}

			          <ul id="profile_ul" class="nav navbar-nav navbar-right">
			          {if(!isset($_SESSION['username']))}
			            	<li class="active"><a href="<?=WEB_ROOT . $global['user']?>">登录</a></li>
			            	<li><a href="<?=WEB_ROOT . $global['user']?>">注册</a></li>
			           {/else}
							<li class="active"><a href="<?=WEB_ROOT . $_SESSION['username']?>">当前登录：{echo $_SESSION['username'];}</a></li>
			           {/if}
			          </ul>
			        </div><!--/.nav-collapse -->
			    </div>

			</div>
		</div>

		<div class="space_main waterfall" style="width:1100px">
			<div class="space_flow" id="container" style="display:none;"></div>

			<div id="show_loading" class="show_loading" style="display:none;">
				<img src="http://s1.56img.com/style/space/v3/img/ajax_loading.gif" alt="Loading...">
				<div><em>加载中，请稍候...</em></div>
			</div>
			<div class="mod56_page page_theme_0">
				<div class="mod56_page_pn" id="acolScrollPage" style="display:none;">
				</div>
			</div>
		</div>

		
		<div class="bottom" id="bottom">
		
		</div>
		<div id="gotop" style="position: fixed; bottom: 50px; right: 50px; cursor: pointer;display:none; " title="回到顶部">
			<img src="img/gotop.gif" style="width:31px; height:31px;">
		</div>

		<div style="text-align: center; position: fixed; top: 100px; left: 325px;display:none;">
		    <div id="playVideo">

		    </div>
		    <a href="javascript:;" onclick="$(this).parent().hide();return false;" style="position: absolute;right: -23px;top: -24px;width: 44px;height: 44px;background: url(http://s3.56img.com/style/kantai/v3/img/close_btn.png) no-repeat;_filter: progid:dximagetransform.microsoft.alphaimageloader(enabled='true',sizingmethod='image',src='http://s3.56img.com/style/kantai/v3/img/close_btn.png') no-repeat;_background: none;cursor: pointer;"></a>
		</div>

		<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="http://xiaoqiqiu.com/plugin/jquery.pin/jquery.pin.min.js"></script>

		<script type="text/javascript" src="http://s2.56img.com/script/page/common/v3/o_utf8_v.2.js"></script>
		<script type="text/javascript" src="js/helper.js?v=1"></script>
		<script type="text/javascript" charset="utf-8" src="http://static.xiaoqiqiu.com/js/wall/jquery.masonry.js"></script>
		<script type="text/javascript" src="js/space_ui_v2.js"></script>
		<script type="text/javascript" charset="utf-8" src="http://static.xiaoqiqiu.com/js/wall/scroll_page.js?v=2012071901"></script>
		<script type="text/javascript" charset="utf-8" src="http://static.xiaoqiqiu.com/js/wall/space_square.js?v=2012111401"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				//	加载视频列表
				SquareOfSpace.videoList.masonrySet();
				$('#container').show();
				SquareOfSpace.videoList.append_video_list(1 , function(){
					SquareOfSpace.videoList.masonrySet();
				});
				var op = {
					page_container : $('#acolScrollPage'),
					content_container : $('#container'),
					per_page_screen : 10,
					scroll_delay : 0,
					scroll_height : 800,
					auto_show_page_list : false,
					now_page : 1
				};
				AcolScrollPage.init(op);
				$(window).scroll(function(){
					if(AcolScrollPage.is_scroll === false && AcolScrollPage.is_loading === false){
						SquareOfSpace.videoList.append_video_list(AcolScrollPage.now_page);
					}
				});
				//	翻屏重置masonry的高度
				AcolScrollPage.page_container.delegate('a' ,'mousedown' , function(){
					//	在首页和末页时禁用上/下一页按钮
					var page_text = $(this).text();
					if((page_text == AcolScrollPage.pre_page && AcolScrollPage.now_page == AcolScrollPage.per_page_screen) || 
						(page_text == AcolScrollPage.next_page && AcolScrollPage.now_page == AcolScrollPage.total_page))return false;
					$('#container').masonry('destroy');
		    		SquareOfSpace.videoList.masonrySet();
		    		SquareOfSpace.videoList.append_video_list(AcolScrollPage.now_page);
				});

				//钉子
				$("#top_menu").pin({
			    	containerSelector: "body"
				});
			});
			

			(function(){ 
			    $("#gotop").click(function(){ 
			        $("html,body").animate({ scrollTop : 0 },"fast");        
			     })
			    var showGotop = function(){ 
			        ($(document).scrollTop() > 0) ? $("#gotop").show() : $("#gotop").hide();
			    }
			    $(window).bind("scroll",showGotop);
			})();
		</script>

		<?php
			include('baidu-analytics.html');
		?>
	</body>
</html>
